body {
	background-color: #fff9e6;
}

canvas {
	border: 3px solid #391313;
}

#canvasDiv {
   width: 100%;
   text-align:center;
}

p {
	font-family: Comic Sans MS;
	color: brown;
	font-size: 20px;
}

h3 {
	font-family: Comic Sans MS;
	color: brown;
	font-size: 20px;
}

h2 {
	font-family: Comic Sans MS;
	color: #693647;
	font-size: 40px;
}